<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
      section { text-align: center; width: 80%; margin: 10rem auto; }
      h1 { font-size: 32px; font-weight: 500; }
      .data { display: flex; flex-direction: column; }
    </style>
  </head>
  <body>
    <section>
      <header>
        <h1>User Registration</h1>
        <span>User has been registered successfully.</span>
        <span>Name: {{name}}</span>
        <span>email: {{email}}</span>
      </header>
      </div>
    </section>
  </body>
</html>